@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  
  --color-brand-100: #EDEDE9;
  --color-brand-200: #F5EBE0;
  --color-brand-300: #E3D5CA;
  --color-brand-400: #D6CCC2;
  --color-brand-500: #D5BDAF;
  --color-brand-dark: #C5AB9D;
  
  --color-text-primary: #3A322D;
  --color-text-secondary: #6A5D54;
  --color-text-muted: #8A7D74;
}

body {
  background-color: #EDEDE9;
  color: #3A322D;
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}
